/*POPPINS Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    height: 664px;
    position: relative;
    top: 0;
}

.box {
    height: 664px;
    width: 100%;
    position: absolute;
    top: 0px;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 0px, rgb(0 0 0 / 45%) 50%, rgb(0, 0, 0) 100%);
}

.main>nav {
    max-width: 75vw;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main>nav>span>img {
    position: relative;
    z-index: 10;
    width: 145px;

}

/* .main>nav>div{
    position: relative;
    z-index: 10;
} */

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    color: white;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    padding: 0px 30px;
}

.hero> :nth-child(1) {
    font: 'Segoe UI';
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font: 'Segoe UI';
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font: 'Segoe UI';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.do-btn {
    display: flex;
    gap: 22px;
    z-index: 13;
    height: 30px;
}

.separate {
    background-color: rgb(65, 63, 63);
    height: 7px;
    position: relative;
    z-index: 20;

}

.btn {
    padding: 6px 13px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    color: white;
    border: none;
    border-radius: 4px;
}

.btn-red {
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 0px 13px;
}

.btn-red-sm {
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 9px 33px;
    font-size: 24px;
    font-weight: 500;
}

.btn-trans {
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.421);
    padding: 0px 19px;
}

.main input {
    background-color: rgba(23, 23, 23, 0.6);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.381);
    border-radius: 6px;
    font-size: 16px;
    padding: 16px;
    padding-left: 18px;
    padding-right: 146px;
}

.hero-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* First section: L stories*/
.firstsec {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    position: relative;
    padding: 80px 0px;
}

.firstsec>div {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.firstsec>.content1>img {
    width: 500px;
    z-index: 11;
}

.firstsec>.content1 {
    position: relative;

}

.firstsec>.content1>video {
    position: absolute;
    top: 67px;
    left: 58px;
    width: 398px;
}

.f1 {
    font-size: 48px;
    font-weight: 800;
}

.f2 {
    font-size: 24px;
    font-weight: 400;
}

.content2>img {
    width: 38vw;
}

.content3 {
    position: relative;
}

.content3>video {
    position: absolute;
    z-index: 11;

    top: 19px;
    left: 86px;
    width: 310px;
}

.content3>img {
    z-index: 12;
    width: 500px;
}

.faq {
    color: white;
    max-width: 90%;
    margin: auto;
}

.faq>div:first-child {
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

.faqbox {
    height: 85px;
    width: 80%;
    margin: auto;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    font-size: 23px;
    margin-bottom: 9px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

}

.faqbox:hover {
    background-color: rgb(83, 82, 82);
}

li>img {
    width: 38px;
}

ul {
    list-style: none;
}

li>div:first-child {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
}

li:last-child {
    text-align: center;
}

.secondgetstarted {
    margin-top: 20px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.secondgetstarted>input {
    font-size: 16px;
    padding: 16px 73px 12px 11px;
    background-color: #0f0f0f;
    border: 1px solid #ffffff5e;
    border-radius: 4px;
}

.secondgetstarted>span button {
    padding: 9px 33px;
    font-size: 24px;
    font-weight: 500;
    color: white;
    background-color: rgb(229, 9, 20);
    border: none;
    border-radius: 4px;
}

footer {
    color: white;
    max-width: 80vw;
    margin: 60px auto;
}

.footer {
    margin: 50px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-items a {
    color: white;
    font-size: 14px;
    font-weight: 200;
}

.Que {
    margin: 20px 0;
}

#langua {
    background-color: black;
    color: white;
    padding: 8px 15px;
    padding-left: 4px;
    padding-right: 20px;
    border: 1px solid rgba(255, 255, 255, 0.836);
    border-radius: 4px;
}

.netflixindia {
    font-size: 15px;
    margin: 20px 0;
}

@media screen and (max-width:1300px) {
    .firstsec {
        flex-direction: column;
    }

    .f1 {
        font-size: 32px;
        text-align: center;
    }

    .f2 {
        font-size: 18px;
        text-align: center;

    }

    .btn-red-sm {
        padding: 9px 33px;
        font-size: 24px;
    }

    .hero-btns {
        flex-direction: column;
        
    }

    h1 > span {
        font-size: 28px;
        padding: 0;
        margin: 0;
        line-height: 50px
        ;        
    }

}