/* This is main CSS */


@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:wght@200..1000&display=swap');

*{
	margin: 0px;
	padding: 0px;
	font-family: "Exo 2", sans-serif;
  	font-weight: 300;

}

body{
	background-color: #000000;		
	color: white; 
} 


/* Left ONE here */
.left{
	width: 25vw;
	padding: 7px;
	height: 90vh;
	display: flex;
    gap: 3px;
    flex-direction: column;
}



.home{
	
}

.home>.logo{
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 6px;
	font-size: 30px;
	font-weight: 500;
}

.home ul {
    padding-left: 7px;
}

.home ul li {
	/* width: 25px; */
	font-size: 17px;
	list-style: none;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 4px;
	padding-top: 13px;
	font-weight: 400;
	font-size: 16px;
}

.home ul li img {
    width: 17px;
}

.library{
	min-height: 75.5vh;
	position: relative;
}

.heading{
	display: flex;
	gap: 10px;
	padding-top: 13px;
	width: 100%;
	font-size: 13px;
	font-weight: 500;

}

.heading img{
	width: 26px;
}

.footer{
	display: flex;
	flex-wrap: wrap;
	gap: 9px;
	font-size: 11px;
	position: absolute;
	left: 10px;
	bottom: 0;
	margin-bottom: 10px;	
}

.footer a{
	color: rgb(179, 179, 179);
	font-style: none;
	text-decoration: none;
}

/* Left ONE ENDs here */


/* Right ONE starts here */
.right{
	width: 75vw;
    margin: 9px 0px;
    height: 97.4vh;
	position: relative;
}

.header{
	display: flex ;
	justify-content:space-between;
	align-items: center;
	background-color: #212121;
	height: 54px;
	padding: 0%;
}

.header > * {
	gap: 10px;
	padding: 13px;
}

/* Buttons */
.buttons{
	display: flex;
	gap: 15px;
	/*height: 10px; */
	margin-right: 8px;
	padding: 3px;
	object-fit:fill;
	
}

.signupbtn{
	background: transparent;
    border: none; 
	color: #cbcbcb;
    font-weight: 600;
	font-size: 15.5px;
	transition: all 0.12s ease-in-out;
	cursor: pointer;
}

.signupbtn:hover{
	font-size: 20.5;
	color:#efeded;
	font-weight: 700;
}

.loginbtn{
	background: white;
	padding: 4px 6px;
	border-radius: 5px;
    border: none; 
	font-weight: 600;
	font-size: 15.5px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.loginbtn:hover{
	/* font-size: 20.5; */
	color:#3e3e3e;
	background-color:#cbcbcb;
	box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.2); /* Smooth shadow effect */
}

.spotifyPlaylists{
	padding: 13px;
}

.spotifyPlaylists > h1{
	padding: 8px;
}

.cardContainer{
	padding: 17px 12px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	overflow-y: scroll;
	max-height: 63.5vh;
}

.card{
	width: 186px;
	border-radius: 4px;
	padding: 9px;
	background: #252525;
	display: flex;
	flex-direction: column;
	gap: 6px;
	position: relative;
}

.card img{
	width: 100%;
	object-fit: contain;
	border-radius: 4px;

}

.card h3 {
	font-weight: 400;

}

.card p{
	font-weight: 300;
	font-size: 14px;
}

.play{
    width: 45px;
	position: absolute;
	bottom: 85px;
    right: 17px;
	opacity: 0;
	transition:all 0.5s ease-in;
}

.play img{
	width: 100%;
	object-fit: contain;
	
}

.playbar{
	background-color: #223225;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
}


/* Right ONE ENDs here */